

<table style="width: 100%;">
<tbody>
<tr class="tablerow1">
<td style="text-align: left;" width="50%"><address style="text-align: left;"><span style="font-size: small; font-family: sans-serif,arial,helvetica;">

<strong>Delivr Logistics</strong> </span></address>
<address style="text-align: left;"><span style="font-size: small; font-family: sans-serif, arial,helvetica;"></span></address><address style="text-align: left;">
<span style="font-size: small; font-family: sans-serif, arial,helvetica;"> <span></span></span></address>
<address style="text-align: left;"><span style="font-size: small; font-family: sans-serif, arial,helvetica;"></span></address>
<address style="text-align: left;">
<span style="font-size: small; font-family: sans-serif, arial,helvetica;">
<span><span style="font-size: small; font-family: sans-serif, arial,helvetica;"></span><br /></span></span></address></td>
<td style="text-align: left;" width="50%"><address><span style="font-size: small; font-family: sans-serif,arial,helvetica;">Courier Service Invoice<br /></span></address><address><span style="font-size: small; font-family: sans-serif,arial,helvetica;"><span>Invoice Date: &lt;Invoicedate&gt;<br /></span></span></address><address><span style="font-size: small; font-family: sans-serif,arial,helvetica;">Invoice Period: <span>&lt;Invoiceperiod&gt;</span></span></address><address><span style="font-size: small; font-family: sans-serif,arial,helvetica;"><span>Invoice Number: &lt;Invoiceno&gt;</span></span></address></td>
</tr>
<tr>
<td style="text-align: right;" colspan="2"><hr /><address style="text-align: left;"><span style="font-size: small; font-family: sans-serif,arial,helvetica;"><br /></span></address></td>
</tr>
<tr>
<td colspan="2" width="50%"><address><span style="font-size: small;"><strong><span style="font-family: sans-serif,arial,helvetica;">Attn:</span></strong></span></address><address><span style="font-size: small; font-family: sans-serif,arial,helvetica;"><span>&lt;Clientname&gt;,</span></span></address><address><span style="font-size: small; font-family: sans-serif,arial,helvetica;"><span><span>&lt;Companyname&gt;,</span></span></span></address><address><span style="font-size: small; font-family: sans-serif,arial,helvetica;"><span>&lt;Roadno&gt;, &lt;Roadname&gt;,</span></span></address><address><span style="font-size: small; font-family: sans-serif,arial,helvetica;"><span>#&lt;Unitno&gt;,</span></span></address><address><span style="font-size: small; font-family: sans-serif,arial,helvetica;"><span>Singapore, &lt;Zipcode&gt;.</span></span></address></td>
</tr>
<tr>
<td colspan="2" width="50%"><address><span style="font-size: small;"><span style="font-family: sans-serif,arial,helvetica;"><span style="font-size: small; font-family: sans-serif,arial,helvetica;"><span>Total Amount Payable invoice amount: &lt;Total&gt;</span><br /></span></span></span></address><address><span style="font-size: small;"><span style="font-family: sans-serif,arial,helvetica;"><span style="font-size: small; font-family: sans-serif,arial,helvetica;"><br /></span></span></span></address></td>
</tr>
<tr>
<td colspan="2" width="50%">&nbsp;</td>
</tr>
<tr>
<td colspan="2" width="50%">
<p><span style="font-size: small;">&lt;Tabledata&gt;</span></p>
</td>
</tr>
<tr>
<td colspan="2" width="50%">&nbsp;</td>
</tr>
<tr>
<td colspan="2" width="50%"><span style="font-size: small;">Payment Terms</span></td>
</tr>
<tr>
<td colspan="2" width="50%"><span style="font-size: x-small;">1. Payment must be made within 7 days from the invoice date. </span></td>
</tr>
<tr>
<td colspan="2" width="50%"><span style="font-size: x-small;">2.&nbsp;Invoice&nbsp;number&nbsp;(&lt;Invoiceno&gt;)&nbsp;should&nbsp;be&nbsp;indicated&nbsp;in&nbsp;the&nbsp;account&nbsp;transfers&nbsp;to&nbsp;our&nbsp;DBS&nbsp;Current&nbsp;Account&nbsp;027-906-5508.&nbsp; <br /><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Company Name: <strong>Delivr Logistics</strong><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bank Account Name: <strong>Delivr Logistics</strong><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bank Name: <strong>DBS Bank Ltd Singapore</strong><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bank Address: <strong>80 Marine Parade Rd,&nbsp;Singapore 449269</strong><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Bank Code: <strong>7171&nbsp;/&nbsp;Branch Code: 004</strong><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Swift Code: <strong>DBSSSGSG</strong></span></td>
</tr>
<tr>
<td colspan="2" width="50%">3. Cheque must be issued under Delivr LOGSITICS</td>
</tr>
<tr>
<td colspan="2" width="50%">4. For online payment via Paypal is avialable, an additional 3% charge will be</td>
</tr>
<tr>
<td colspan="2" width="50%">&nbsp;&nbsp;&nbsp; levied to cover Paypal service charges.</td>
</tr>
<tr>
<td colspan="2" width="50%">&nbsp;&nbsp;&nbsp; Please inform ar@delivr.sg for more clarifications and other paypal</td>
</tr>
<tr>
<td colspan="2" width="50%">&nbsp;&nbsp;&nbsp; related question.</td>
</tr>
<tr>
<td colspan="2" width="50%">5. Any overdue payments exceeding 15 days will attract a standard late fee</td>
</tr>
<tr>
<td colspan="2" width="50%">&nbsp;&nbsp; of 3% of invoiced amount or $20 (which is higher) per invoice period</td>
</tr>
<tr>
<td colspan="2" width="50%">&nbsp;&nbsp; will be applied</td>
</tr>
<tr>
<td colspan="2" width="50%">6. This is a computer generated invoice and no signature required.</td>
</tr>
<tr>
<td colspan="2" width="50%">7. Our invoice will be sent primarily via your fax number and additional</td>
</tr>
<tr>
<td colspan="2" width="50%">&nbsp;&nbsp; copies can be requested via ar@delivr.sg. Any billings related can be</td>
</tr>
<tr>
<td colspan="2" width="50%">&nbsp;&nbsp; sent to the ar@delivr.sg</td>
</tr>
<tr>
<td colspan="2" width="50%">8. The invoice is original, certified and legally payable by you.</td>
</tr>
</tbody>
</table>