<table style="width: 100%;">
<tbody>
<tr class="tablerow1">
<td style="text-align: right;" width="50%"><address style="text-align: left;"><span style="font-size: small; font-family: sans-serif, arial,helvetica;"><strong>QBot</strong> </td>
<td style="text-align: right;">
<address><span style="font-size: small; font-family: sans-serif, arial,helvetica;"><a >QBot.sg </a></span></address>
</td>
</tr>
<tr>
<td style="text-align: right;" colspan="2"><hr /><address style="text-align: left;"><span style="font-size: small;"><br /></span></address></td>
</tr>

<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>
<td><address><span style="font-size: small;"><em><strong><span style="font-family: sans-serif,arial,helvetica;">Tasks:</span></strong></em>
<span style="font-family: sans-serif,arial,helvetica;"><span style="font-family: sans-serif,arial,helvetica;">&lt;Tasks&gt;</span></span></span></address></td>
<td><address><span style="font-size: small; font-family: sans-serif, arial,helvetica;"><br /></span></address></td>
</tr>
<tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>
<tr>

</tr>
<tr class="tablerow1">
<td colspan="2"><span style="font-size: small; font-family: sans-serif, arial,helvetica;"> <strong>Regards </strong>Regards by. </span></td>
</tr>
<tr class="tablerow1">
<td colspan="2">
<span style="font-size: small; font-family: sans-serif, arial,helvetica;">QBot.</span></td>
</tr>
</tbody>
</table>