
<span>Dear &lt;UserName&gt;<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <br><b>uPost User Account Created</b><br><br></span>Plese use the following Credentials to login:<br><br><span>User ID : &lt;LoginName&gt;<br>Password : &lt;Password&gt;<br><br>Sincerely,<br>uPost Logistics&nbsp;Customer Support Team<br><i>Please do not reply to </i><i>this mail</i></span>